* {
    margin: 0%;
    padding: 0%;
    background-color: rgba(32, 29, 29, 0.9);
}

h1 {
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 25px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    color: white;
    padding: 2%;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(blue, yellow, pink);
    border-radius: 4%;
}